/* Colours */

:root {
  --background: #f6f5f4;
  --body: #b3ac9e;
  --hover: #b13200;
}



/* Elements */

body {
  font-size: 2vw;
  font-family: "Forum";
  color: var(--body);

  background-color: var(--background);
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 6vw;
  font-family: "Waiting For The Sunrise";
}

h2 {
  color: var(--background);
  font-size: 3vw;
  text-transform: capitalize;
}

a {
  font-size: 1.5vw;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--body);

  margin: 1vw;
}

a:hover {
  color: var(--hover);
}

figure {
  width: 30vw;
  height: 30vw;
  position: relative;

  overflow: hidden;
  margin: 1vw;
}

figure img {
  display: block;
  width: 70vw;
  align-items: center;

  filter: blur(0px) brightness(100%);
}

figure img:hover {
  transition: 0.3s;
  filter: blur(2px) brightness(50%);
}

figure h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



/* Classes and IDs */

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header {
  margin-bottom: 1vw;
}

#mainImage {
  width: 70vw;
  height: 30vw;
}
